$breack-up: (
  "small": "600px",
  "medium": "1164px",
);
$breack-down: (
  "medium": "599px",
  "large": "1163px",
);

@mixin breack_up($size) {
  @media (min-width: map-get($breack-up, $size)) {
    @content;
  }
}
@mixin breack_down($size) {
  @media (max-width: map-get($breack-down, $size)) {
    @content;
  }
}
.sec {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 2;
  img {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    translate: -50% -75%;
  }
}
.sec_video {
  height: 300vh;
  width: 100%;
  position: relative;
  z-index: 2;
  background-image: url("../images/backMain.png");
  background-color: #060a14;
  background-size: cover;
  background-position: center;

  .video_content {
    padding-top: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 22;
    .video_flex {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 55vw;
      @include breack_down(large) {
        width: 100%;
        margin-left: 1rem;
      }
    }
    .line {
      width: 2px;
      height: 4rem;
      background-color: gray;
    }
    h3 {
      color: #0965bc;
    }
    h2 {
      color: #fff;
      font-size: 3rem;
      @include breack_down(large) {
        font-size: 1.5rem;
      }
    }
    p {
      color: #fff;
      font-size: 20px;
      margin-bottom: 2rem;
      @include breack_down(large) {
        font-size: 1rem;
      }
    }
  }
  .sec_video_back {
    position: sticky;
    top: 0rem;
    transform: scale(0.4);
    transition: 0.5s;
    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
  .sec_video_back_scale {
    transform: scale(1);
  }
}
.back1 {
  background-image: url("../images/bg1.jpg");
  width: 100%;
  height: 100%;
}
.back2 {
  background-image: url("../images/bg2.jpg");
  width: 100%;
  height: 100%;
}
.back3 {
  background-image: url("../images/bg3.jpg");
  width: 100%;
  height: 100%;
}
.back4 {
  background-image: url("../images/bg4.jpg");
  width: 100%;
  height: 100%;
}
.box_shadow {
  position: absolute;
  top: -18%;
  left: 0;
  background-image: url("../images/backMain.png");
  width: 100%;
  height: 100vh;
}

.sec_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 40%;
  color: #fff;
  gap: 2rem;
  margin-left: 10vw;
  @include breack_down(large) {
    width: 100%;
    margin-left: 0;
    align-items: center;
  }
  h2 {
    font-size: 54px;
    font-weight: 400;
    @include breack_down(large) {
      font-size: 20px;
      width: 80%;
    }
  }
  p {
    font-weight: 200;
    font-size: 18px;
    line-height: 36px;
    @include breack_down(large) {
      font-size: 16px;
      width: 80%;
    }
  }
}
.sec_text_r {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 40%;
  color: #fff;
  gap: 2rem;
  margin-right: 10vw;
  float: right;

  @include breack_down(large) {
    width: 100%;
    margin-right: 0;
    align-items: center;
  }
  h2 {
    font-size: 54px;
    font-weight: 400;
    @include breack_down(large) {
      font-size: 20px;
      width: 80%;
    }
  }
  p {
    font-weight: 200;
    font-size: 18px;
    line-height: 36px;
    @include breack_down(large) {
      font-size: 16px;
      width: 80%;
    }
  }
}
